/*

    HEADER

*/

$header-hg: 100px;
$header-bg-color: black;
$logo-width: 100px;
$main-input-color: white;

/*

    MAIN

*/

$main-bg-color: #141414;


/*

    SINGLE FILMS

*/
$film-info-width: calc((100% / 4) - 40px);
$film-info-margin: 10px 20px;
$list-bg-color: rgba(0, 0, 0, 0.76);
$stars-color: rgb(191,179,16);
$lang-flag-width: 50px;
$scrollbar-thumb-bg: #E50814;
$scrollbar-track-bg:  #343a40;
$main-color-info-text: #bc0d0dd4;