/*

    HEADER

*/

$header-bg-color: black;
$logo-width: 100px;

/*

    MAIN

*/

$main-bg-color: #141414;


/*

    SINGLE FILMS

*/

$film-info-margin: 10px 20px;
$list-bg-color: rgba(0, 0, 0, 0.76);
$list-overview-height: calc(100% - 320px);
$stars-color: rgb(191,179,16);
$lang-flag-width: 50px;
$scrollbar-thumb-bg: #6c757d;
$scrollbar-track-bg:  #343a40;